
body {
  background: url(../img/4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2 {
  font-family: 'Orbitron', bold;
  color: white;
}

p {
  font-size: 20px;
  font-family: 'Mandali', bold;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

#header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgba(225,225,225,0.25);
  border-radius: 10px;
  color: white;
}

.standard-button {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-family: 'Mandali', bold;
  font-size: 20px;
  margin-right: 10px;
  max-width: 100%;
}

#navigation {
  background: rgba(225,225,225,0.25);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

#title {
  font-size: 70px;
}

#subtitle {
  font-size: 40px;
}

#skills {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 3;
  width: 90vw;
}

.skill {
  border-radius: 5px;
  text-align: center;
  max-height: 130px;
  max-width: 100%;
  margin: 20px;
  padding: 10px;
  background: rgba(225,225,225,0.25);
}

.skill-span {
  font-size: 30px;
  font-family: 'Mandali', bold;
  color: white;
}

.icon {
  font-size: 60px;
  color: white;
}

.content-section {
  padding-top: 115px;
  min-height: 100vh;
  max-height: 100%;
}

.footer-section {
  padding-top: 115px;
  min-height: 50vh;
  max-height: 100%;
  font-family: 'Mandali', bold;
}


.info {
  font-size: 30px;
  font-family: 'Mandali', bold;
  color: white;
}
