* {
  box-sizing: border-box;
  border: 1px solid white;
}
body {
  margin: 0;
  background: lightblue;
}
img {
  position: relative;
  height: 100%;
  width:100%;
}

.row {
  position: relative;
  min-height: 100px;
  width: 100%;
  margin: 20px auto;
  z-index: 2;
}
.categoryRow {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.skillsHeader {
  position: relative;
  text-align: center;
  height: 50px;
  width: 100%;
  margin: 0 auto 20px auto;
}
.skill {
  min-height: 150px;
  min-width: 150px;
}
.skillName {
  text-align: center;
}
.icon {
  display: block !important;
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 0 auto;
}
.pageWrap {
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.skillFrame {
  position: relative;
  min-height: 600px;
  width: 1200px;
  margin: 50px auto;
  z-index: 4;
  padding: 2px;
}

.targetWindow {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.skillsDiv {
  position: absolute;
  height: auto;
  width: 100%;
  margin: 0 auto;
  color: white;
  font-size: 2em;
  z-index: 3;
}

.fillTarget {
  position: absolute;
  height: auto;
  width: 300vw;
  word-wrap: break-word;
  transform: rotate(45deg);
  margin-left: -1200px;
  margin-top: -300px;
  z-index: 1;
}


.header {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nameContainer {
  position: relative;
  height: 100%;
  width: auto;
}

.name {
  position: relative;
  color: white;
  height: 40%;
  width: auto;
  font-size: 10em;
}

.first {
  top: 30%;
  right: 25%;
  transform: rotate(-90deg);
}

.last {
  top: -5%;
  left: 25%;
  transform: rotate(90deg);
}

.subheading {
  position: relative;
  color: white;
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
  height: auto;
  width: auto;
}
